# Database connection string
# Format: postgresql://postgres:[Omar_aqel29]@db.nxyomchuuuaqatcjllov.supabase.co:5432/postgres
DATABASE_URL="postgresql://postgres:[Omar_aqel29]@db.nxyomchuuuaqatcjllov.supabase.co:5432/postgres"

# Direct connection to the database (used for migrations)
DIRECT_URL="postgresql://postgres:[Omar_aqel29]@db.nxyomchuuuaqatcjllov.supabase.co:5432/postgres"

# Supabase API details
SUPABASE_URL="https://nxyomchuuuaqatcjllov.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54eW9tY2h1dXVhcWF0Y2psbG92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNTQ5MDgsImV4cCI6MjA4NzkzMDkwOH0.yR71TjESWjAYcEpEE6qkPXihBObuidSMZCMYdavc6SQ"
